<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148367614400-r7ivtj8u9jud5ue7fh90l055prc5d8nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148367614400-r7ivtj8u9jud5ue7fh90l055prc5d8nr</string>
	<key>API_KEY</key>
	<string>AIzaSyBwO1y8mhlcG-UK5XV7ImoRL_qoQ4co8K0</string>
	<key>GCM_SENDER_ID</key>
	<string>148367614400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esy.earn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>esyincome-c0463</string>
	<key>STORAGE_BUCKET</key>
	<string>esyincome-c0463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148367614400:ios:a822ea5d55bdcb546d2825</string>
</dict>
</plist>